<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ham.onettsix">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ham">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ham.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.ham.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.ham.NoActionBar" />
        <activity
            android:name=".EulaActivity"
            android:theme="@style/Theme.ham.NoActionBar" />
        <activity
            android:name=".PermissionActivity"
            android:theme="@style/Theme.ham.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/Theme.ham.NoActionBar" />

        <activity
            android:name=".LotteryHistoryActivity"
            android:theme="@style/Theme.ham.NoActionBar" />

        <activity
            android:name=".ProfileDetailActivity"
            android:theme="@style/Theme.ham.NoActionBar" />

        <activity
            android:name=".NoticeActivity"
            android:theme="@style/Theme.ham.NoActionBar" />

        <!-- google -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5672204188980144~5165300143"/>

        <service
            android:name=".firebase.FirebaseMessagingService"
            android:stopWithTask="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>