<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ham.onettsix">

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ham">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ham.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.ham.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.ham.NoActionBar" >
        </activity>
        <activity
            android:name=".EulaActivity"
            android:theme="@style/Theme.ham.NoActionBar" />
        <activity
            android:name=".PermissionActivity"
            android:theme="@style/Theme.ham.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/Theme.ham.NoActionBar" />

        <activity
            android:name=".LotteryHistoryActivity"
            android:theme="@style/Theme.ham.NoActionBar" />

        <activity
            android:name=".ProfileDetailActivity"
            android:theme="@style/Theme.ham.NoActionBar" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakaod508b76ef17b730d5e4c99875217d6f7" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NoticeActivity"
            android:theme="@style/Theme.ham.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5672204188980144~5165300143"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="d508b76ef17b730d5e4c99875217d6f7" />

        <service
            android:name=".firebase.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="d508b76ef17b730d5e4c99875217d6f7" />

    </application>

</manifest>